/* Reset default margins and paddings */
body, h1, form, table {
    margin: 0;
    padding: 0;
}

/* Set background color */
body {
    background-color: #f0f5f9;
}

/* Center align the content */
center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* Style headings */
h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

/* Style form inputs */
form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="number"], input[type="text"], input[type="submit"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
/* Apply styles to tables */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style table headers */
table tr:first-child {
    background-color: #007bff;
    color: #fff;
}

table tr th, table tr td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

/* Style "Remove" button */
.button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #b60000;
}
/* Style but */
.but{
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.but:hover {
    background-color: #00b600;
}
/* Apply spacing between rows */
table tr + tr {
    border-top: 1px solid #ccc;
}
